body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}


#create-news-form {
    width: 50%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f0f0f0;
}


header {
    background-color: #ffffff;
    color: #333333;
    padding: 20px 0;
    font-size: 20px;
    text-align: left;
    margin-left: 50px;
}

main {
    padding: 20px;
    max-width: auto;
    margin-left: 30px;
    background: #fff;
}

input[type="text"], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea#description {
    height: 150px;
}

.editor-name-container {
    display: flex;
    justify-content: space-between;
}

.editor-name-field {
    flex: 1;
    margin-right: 8px; 
}

.editor-name-field:last-child {
    margin-right: 0;
}

.button-container {
    text-align: right;
    margin-top: 20px;
}


button {
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.fade-out {
    transition: opacity 0.5s ease-out;
    opacity: 0;
}

button:hover {
    background-color: #ccc;
}
